
body {
	background: #BBDEFB
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Playfair Display', serif;
}

p, a {
	font-family: 'Source Sans Pro', sans-serif;
}

html {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: white;
	border-radius: .25rem;
	transition: all .3s;
}

.hero_fon {
	background: url('fon.jpg') center;
	background-size: cover;
	padding: 4rem 2rem;
	display: grid;
	align-items: center;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.hero_a {
	background: url('alco.jpg') center;
	background-size: cover;
	padding: 4rem 2rem;
	display: grid;
	align-items: center;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.hero_c {
	background: url('coffee.jpg') center;
	background-size: cover;
	padding: 4rem 2rem;
	display: grid;
	align-items: center;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.hero_o {
	background: url('other.jpg') center;
	background-size: cover;
	padding: 4rem 2rem;
	display: grid;
	align-items: center;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.hero_g {
	background: url('game.jpg') center;
	background-size: cover;
	padding: 4rem 2rem;
	display: grid;
	align-items: center;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.hero_l {
	background: url('library.jpg') center;
	background-size: cover;
	padding: 4rem 2rem;
	display: grid;
	align-items: center;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.hero > * {
	color: black;
}

.hero > h1 {
	font-size: 4rem;
	padding-bottom: 1rem;
}

.hero > article > p {
	font-size: 1.5rem;
	font-weight: 200;
}

.hero > article > a {
	background-color: goldenrod;
	padding: 1rem;
	margin-top: .75rem;
}

.hero a:hover {
	opacity: .6;
}

.logo{
	background: #0D47A1;
	display: grid;
	align-items: center;
	grid-template-columns: repeat(auto-fit, 150px);
}

.logo img{
	width: 200px;
	min-width: 100px;
}

.breweries {

}

.breweries_u{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 1rem;
}

.breweries_f{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 1rem;
	align-items: center;
	height: 28px;
	background: #0D47A1;
	border: 1px solid #E2E2E2;
	border-radius: .5rem;
}

.breweries_f > a {
	text-align: center;
	display: inline-block;
}

.breweries_a{
	padding: 2rem;
}

.breweries_ul{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 1rem;
}

.breweries_li {
	border: 1px solid #E2E2E2;
	border-radius: .5rem;
	background: #0D47A1;
}

.breweries_li > figure {
	max-height: 220px;
	overflow: hidden;
	border-top-left-radius: .5rem;
	border-top-right-radius: .5rem;
	position: relative;
}

.breweries_li > figure > img {
	width: 100%;
}

.breweries_li > figure > figcaption {
	position: absolute;
	bottom: 0;
	background-color: rgba(0,0,0,.7);
	width: 100%;
}

.breweries_li > figure > figcaption > h3 {
	color: white;
	padding: .75rem;
	font-size: 1.25rem;
}

.breweries_li > a {
	display: inline-block;
}

.breweries_li > a > figure {
	max-height: 220px;
	overflow: hidden;
	border-top-left-radius: .5rem;
	border-top-right-radius: .5rem;
	position: relative;
}

.breweries_li > a > figure > img {
	width: 100%;
}

.breweries_li > a > figure > figcaption {
	position: absolute;
	bottom: 0;
	background-color: rgba(0,0,0,.7);
	width: 100%;
}

.breweries_li > a > figure > figcaption > h3 {
	color: white;
	padding: .75rem;
	font-size: 1.25rem;
}

.breweries_li > a > p {
	font-size: 1rem;
	line-height: 1.5;
	padding: 1rem .75rem;
	color: #fff;
}

.breweries_li > p {
	font-size: 1rem;
	line-height: 1.5;
	padding: 1rem .75rem;
	color: #fff;
}

.akeconsa-udaneles{
	position: fixed;
	bottom: 28px;
	right: 28px;
	z-index: 9;
}
.akeconsa-udaneles a {
	height: 42px;
	width: 42px;
	text-align: center;
	background: #0D47A1;
	display: block;
	border-radius: 2px;
}
.akeconsa-udaneles a span {
	color: #E2E2E2;
	font-size: 30px;
	line-height: 42px;
	cursor: pointer;
}

.card {
	width: 225px;
	min-height: 350px;
	display: flex;
	flex-direction: column;
	border-radius: 4px;
	transition: 0.2s;
	position: relative;
}

.card:hover {
	box-shadow: 5px 5px 16px 8px #0D47A1;
}

.card__top {
	flex: 0 0 220px;
	position: relative;
	overflow: hidden;
}

.card__image {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.card__image > img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	transition: 0.2s;
}

.card__image:hover > img {
	transform: scale(1.1);
}

.card__bottom {
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
	padding: 10px;
}

.card__prices {
	display: flex;
	margin-bottom: 10px;
}

.card__price::after {
	content: "₽";
	margin-left: 4px;
	position: relative;
}

.card__price--discount {
	font-weight: 700;
	font-size: 19px;
	color: #414141;
	display: flex;
	flex-wrap: wrap-reverse;
}

.card__title {
	display: block;
	font-weight: 400;
	font-size: 17px;
	line-height: 120%;
	color: #414141;
	text-decoration: none;
}

.card__title:hover {
	color: #4A148C;
}

.card__add:hover {
	border: 1px solid #ff6633;
	background-color: #ff6633;
	color: #fff;
}

.cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, 225px);
	padding: 15px 0px;
	width: 100%;
	justify-content: center;
	justify-items: center;
	column-gap: 30px;
	row-gap: 40px;
	margin: 0 auto;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: relative;
    background-color: #BBDEFB;
    margin: 10% 15% auto;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 5px 5px 8px 8px #0D47A1;
    animation: modalopen 0.5s;
}

.popup_image {
	display: block;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 50%;
}

.popup_image > img {
  width: 100%;
  height: 250px;
  object-fit: contain;
  transition: 0.2s;
}

.popup__top {
  flex: 0 0 50px;
  position: relative;
  overflow: hidden;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

